<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/_mainLayout">

<head>
    <title>Lista de Productos</title>
</head>

<body>
    <div layout:fragment="content">
        <!-- Mostrar mensaje de confirmación en caso de éxito -->
        <div th:if="${msg != null}">
            <script>
                Swal.fire({
                    title: "Confirmación",
                    text: '[[${msg}]]',
                    icon: "success"
                });
            </script>
        </div>

        <!-- Mostrar mensaje de error en caso de error -->
        <div th:if="${error != null}">
            <script>
                Swal.fire({
                    title: "Error",
                    text: '[[${error}]]',
                    icon: "error"
                });
            </script>
        </div>

        <div class="row" style="margin-top: 10px; margin-left: 40px; margin-right: 40px;">
            <div class="card">
                <div class="card-header row">
                    <h1 class="card-text col-md-12" style="text-align: center;">Lista de Productos</h1>
                    <a th:href="@{/productos/create}" class="btn btn-success col-md-12">Nueva Producto</a>
                </div>

                <div class="card-body">
                    <div class="overflow-auto">
                        <table class="table table-striped col-md-12 ">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Existencia</th>
                                    <th>Categoria</th>
                                    <th>Etiquetas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item : ${productoslista}">
                                    <td th:text="${item.nombreA}"></td>
                                    <td th:text="${item.precioA}"></td>
                                    <td th:text="${item.existenciaA}"></td>
                                    <td th:text="${item.categoriaA.nombreA}"></td>
                                    <td>
                                        <ul>
                                            <li th:each="etiqueta : ${item.etiquetas}" th:text="${etiqueta.nombreA}"></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    <a th:href="@{/productos/details/{id} (id = ${item.id}) }"
                                                        class="btn btn-secondary">Detalles</a>
                                                </th>
                                                <th>
                                                    <a th:href="@{/productos/edit/{id}(id = ${item.id}) }"
                                                        class="btn btn-info">Editar</a>
                                                </th>
                                                <th>
                                                    <a th:href="@{/productos/remove/{id} (id = ${item.id}) }"
                                                        class="btn btn-danger">Eliminar</a>
                                                </th>
                                            <tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <nav aria-label="Page navigation" class="col-md-12">
                        <ul class="pagination">
                            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                                <a class="page-link"
                                    th:href="@{/productos/index(page=${pageNumber},size=${productoslista.size})}"
                                    th:text="${pageNumber}"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</body>

</html>